.container {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: #34C759;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.titulo {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.secao-1 {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campo {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.botao {
  background-color: #34C759;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.botao:hover {
  background-color: #2ecc71;
}

.error {
  color: #f00;
  font-size: 18px;
  margin-top: 10px;
}